@import url(reset.css);

#wrapper {
    width: 1024px;
    margin: 0 auto;
    outline: 0 solid #cccccc;
}
/*Начало верхней полосы*/
#topLines {
    height: 18px;
    background-image: url(../images/topLine.png);
    background-repeat: repeat-x;
    background-color: #cccccc;
}
/*Конец верхней полосы*/
/*Начало блока header*/
#header {
    height: 157px;
    outline: 0 solid #cccccc;
    position: relative;

}
#logo {
    height: 81px;
    width: 238px;
    outline: 0 solid #cccccc;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    position: absolute;
    left: 67px;
    top: 47px;
}
#logo a {
    display: block;
    height: 81px;
    cursor: pointer;
}
#faq a{
    width: 77px;
    height: 161px;
    outline: 0 solid #cccccc;
    background-image: url(../images/faq.png);
    position: absolute;
    right: 43px;
    top: -18px;
}
#faq a {
    display: block;
    height: 161px;
    cursor: pointer;
}
#nav {
    width:520px;
    height: 30px;
    outline: 0 solid #cccccc;
    position: absolute;
    top: 56px;
    left: 377px;
}
#nav li{
    float: left;
    outline: 0px solid #cc0000;
    margin-right: 27px;
	
}
#nav li a{
    text-decoration: none;
    font: 16px Arial, sans-serif;
    color: #3f3f3f;
}
#nav li a.active, #nav li a:hover{
    color:#2c789c;
}
/* Конец блока header*/
/*Начало блока люди*/
#people{
    height: 404px;
    outline: 0 solid #000000;
    background-image: url(../images/peopleBg.jpg);
    background-repeat: no-repeat;
    background-position: 74px 62px;
    position: relative;
}
#peopleImg{
    height: 385px;
    width: 391px;
    outline: 0 solid #cccccc;
    position: absolute;
    right: 50px;
    top: 0;
    background-image: url(../images/people.jpg);
    background-repeat: no-repeat;
    z-index: 5;
}
#slogan{
    outline: 0 solid grey;
    width: 357px;
    height: 50px;
    position: absolute;
    top: 207px;
    right: 652px;
    text-align: right;
    padding-top: 6px;
}
#slogan h1{
    font: bold 23px Arial, sans-serif;
    color: #1d1e1b;
    text-transform: uppercase;
}
#slogan p{
    font: 16px Arial, sans-serif;
    color: #2c789c;
}
#forLine{
    height: 96px;
    position: absolute;
    bottom: 0;
    left: 0;
    outline: 0 solid #cc0000;
    width: 1024px;
    background-image: url(../images/forLineBg.png);
    background-repeat: repeat-y;
    z-index: 3;
}
/*Конец блока люди*/
/*Начало блока colors*/
#colors{
    outline: 0 solid #cc0000;
    background-image: url(../images/colorBg.png);
    background-repeat: repeat-y;
    padding: 0 49px 0 42px;
}
#blue{
    width: 292px;
    background-color: #2c789c;
    background-image: url(../images/e1.png);
    background-repeat: no-repeat;
    background-position: 250px 10px;
    float: left;
    padding-left: 14px;
}
#yellow{
    width: 302px;
    background-color: #e5b00d;
    background-image: url(../images/e2.png);
    background-repeat: no-repeat;
    background-position: 267px 10px;
    float: left;
    padding-left: 19px;
}
#green{
    width: 282px;
    background-color: #97ba15;
    background-image: url(../images/e3.png);
    background-repeat: no-repeat;
    background-position: 251px 2px;
    float: left;
    padding-left: 24px;
}
/*урок 10*/
#blue, #yellow, #green {
    color: #ffffff;
    padding-top: 13px;
    position: relative;
}
#colors h2{
    font: 19px Arial, sans-serif;
    padding-bottom: 10px;
}
#colors p{
    font: 16px Arial, sans-serif;
    padding-bottom: 10px;
}
#colors a{
    text-decoration: none;
    color: #525252;
    font: 16px Arial, sans-serif;
    display: block;
    width: 99px;
    height: 26px;
    /*background-color: #ffffff;*/
    background-image: url(../images/readMore.png);
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 4px 10px;
    margin-bottom: 4px;
}
.clear{
    clear: both;
}
#romb1{
    width: 24px;
    height: 49px;
    position: absolute;
    background-image: url(../images/e4.png);
    background-repeat: no-repeat;
    left: 0;
    top: 49px;
}
#romb2{
    width: 24px;
    height: 49px;
    position: absolute;
    background-image: url(../images/e5.png);
    background-repeat: no-repeat;
    left: 0;
    top: 49px;
}
#green a, #green p {
    margin-left: 6px;
}
#yellow a, #yellow p {
    margin-left: 9px;
}

/*конец цветного блока*/
/*начало черно-белого блока*/
#blackWhite {
    outline: 0 solid #cccccc;
    background-image: url(../images/colorBg.png);
    background-repeat: repeat-y;
    position: relative;
    padding: 17px 55px 30px 55px;
}
#bLeft, #bRight {
    position: absolute;
    width: 39px;
    height: 100px;
}
#bLeft {
    background-image: url(../images/bLeft.png);
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
}
#bRight {
    background-image: url(../images/bRight.png);
    background-repeat: no-repeat;
    bottom: 0;
    right: 0;
    z-index: 4;
}
#bBottom {
    background-image: url(../images/bBottom.png);
    background-repeat: repeat-x;
    bottom: 0;
    right: 35px;
    width: 956px;
    height: 1px;
    position: absolute;
}
#bContent {
    height: 225px;
    outline: 0 solid #cc0000;
    width: 620px;
    float: left;
}
#bForm {
    height: 225px;
    outline: 0 solid #cc0000;
    width: 264px;
    float: left;
    margin-left: 20px;
    position: relative;
    z-index: 5;
}
#bContent h2, #bForm h2 {
    font: 24px Arial, sans-serif;
    color: #000000;
}
#bContent h2{
    height: 34px;
    margin-bottom: 0;
    overflow: hidden;
}
#bContent p.strong {
    color: #1d1e1b;
    font: bold 16px Arial, sans-serif;
    height: 56px;
    overflow: hidden;
}
#bContent p {
    color: #7b7d78;
    font: 16px Arial, sans-serif;
    height: 109px;
    overflow: hidden;
}
#bContent a{
    text-decoration: none;
    color: #b6b7b6;
    font: 16px Arial, sans-serif;
    display: block;
    width: 99px;
    height: 18px;
    background-image: url(../images/readMoreBlack.png);
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 4px 10px;
}
#bForm input {
    width: 247px;
    height: 31px;
    border: 1px solid #dedede;
    margin-bottom: 13px;
    color: #bababa;
    font: 16px Arial, sans-serif;
    padding-left: 15px;
}
#bForm input.button {
    width: 99px;
    height: 26px;
    border: none;
    padding: 27px 0 0 0;
    margin: 0;
}
/*Конец черно-белого блока*/
/*Начало темного блока*/
#dark {
    padding: 13px 30px 14px 41px;
    outline: 0 solid #cc0000;
    background-color: #1d1e1b;
}
#planning, #team, #blog {
    outline: 0 solid #cccccc;
    height: 403px;
    float: left;
}
#planning, #team {
    width: 289px;
}
#blog {
    width: 297px;
}
#team, #blog {
    margin-left: 39px;
}
#imgDark1 {
    width: 289px;
    height: 115px;
    background-image: url(../images/dark1.jpg);
}
#imgDark2 {
    width: 289px;
    height: 115px;
    background-image: url(../images/dark2.jpg);
}
#dark h3 {
    height: 27px;
    outline: 0 solid #cccccc;
    font: 19px Arial, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    overflow: hidden;
}
#planning p, #team p {
    height: 226px;
    outline: 0 solid #cccccc;
    font: 12px Arial, sans-serif;
    color: #94998f;
    padding-top: 9px;
    overflow: hidden;
}
#planning a, #team a {
    text-decoration: none;
    color: #ffffff;
    font: 16px Arial, sans-serif;
    display: block;
    width: 99px;
    height: 18px;
    background-image: url(../images/readMoreBlue.png);
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 4px 10px;
}
#post1, #post2 {
    height: 125px;
    outline: 0 solid #cccccc;
}
#post3 {
    height: 126px;
    outline: 1px solid #cccccc;
}
#blogImg1 {
    width: 111px;
    height: 80px;
    float: left;
    background-image: url(../images/dark3.jpg);
    margin-right: 10px;
}

#blogImg2 {
    width: 111px;
    height: 80px;
    float: left;
    background-image: url(../images/dark4.jpg);
    margin-right: 10px;
}
#blogImg3 {
    width: 111px;
    height: 80px;
    float: left;
    background-image: url(../images/dark5.jpg);
    margin-right: 10px;
}

#blog h4 {
    font: bold 12px Arial, sans-serif;
    color: #94998f;
}
#blog p {
    font: 12px Arial, sans-serif;
    color: #94998f;
}
#blog a {
    font: 12px Arial, sans-serif;
    color: #2c789c;
    text-decoration: underline;   
}
#blog h3 span {
    color: #2c789c;
    text-transform: lowercase;
    padding-left: 13px;
}
/*Конец темного блока*/
/*Начало серого блока*/
#grey {
    background-color: #2e302c;
    outline: 0 solid #c1ad00;
    padding: 15px 30px 35px 40px;
}
#about {
    width: 300px;
    outline: 0 solid #cccccc;
    float: left;
}
#partners {
    width: 628px;
    height: 168px;
    outline: 0 solid #cccccc;
    float: left;
    margin-left: 26px;
}
#grey h2 {
    font: 18px Arial, sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 3px;
}
#grey p {
    font: 12px Arial, sans-serif;
    color: #94998f;  
    margin-bottom: 6px;
}
#grey a {
    color: #2c789c;
    font: 16px Arial, sans-serif;
    text-decoration: none;
}
.partner {
    float: left;
    outline: 0 solid #cccccc;
    width: 275px;
}
.partner li {
    color: #94998f;
    font: 12px Arial, sans-serif;
    margin-bottom: 14px;
    padding-left: 22px;
    background-image: url(../images/plus.png);
    background-repeat: no-repeat;   
    background-position: 0 4px;
}
#p2 {
    margin-left: 56px;
}
#p1 {
    margin-left: 22px;
}
/*конец серого блока*/
/* начало футера*/
#footer {
    height: 154px;
    background-color: #131412;
    outline: 0 solid #cc0000;
    position: relative;
}
#copy {
    position: absolute;
    top: 81px;
    left: 39px;
}
#copy, #copy a {
    font: 13px Arial, sans-serif;
    color: #9b9d99;
    text-decoration: none;
}
#footerNav {
    width:470px;
    height: 30px;
    outline: 0 solid #cccccc;
    position: absolute;
    top: 81px;
    right: 36px;
}
#footerNav li{
    float: right;
    outline:0 solid #cc0000;
    margin-left: 23px;
    
}
#footerNav li a{
    text-decoration: none;
    font: 13px Arial, sans-serif;
    color: #949998;
}
footerNav li a.active, #footerNav li a:hover{
    color:#2c789c;
}
#footerSocial {
    width: 160px;
    height: 22px;
    position: absolute;
    top: 111px;
    right: 36px;
    outline: 0 solid #00cc00;
}
#footerSocial li {
    float: right;
    margin-left: 5px;
    height: 22px;
    background-repeat: no-repeat;
}
#s1 {
    width: 21px;
    background-image: url(../images/s1.png);
}
#s2 {
    width: 27px;
    background-image: url(../images/s2.png);
}
#s3 {
    width: 22px;
    background-image: url(../images/s3.png);
}
#s4 {
    width: 62px;
    background-image: url(../images/s4.png);
}
#footerSocial li a {
    height: 22px;
    display: block;
    cursor: pointer;   
}
